
.shadow-soft { // pixel
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1);
  &.hover:hover {
    box-shadow: 0 2px 11px 0 rgba(0,0,0,0.2);
  }
}

.shadow-very-soft {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
  &.hover:hover {
    box-shadow: 0 2px 11px 0 rgba(0,0,0,0.2);
  }
}

.shadow-hard { // material
   box-shadow: 0 3px 3px -2px rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 1px 8px 0 rgba(0,0,0,.12);
   &.hover:hover {
     box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 5px 8px 0 rgba(0,0,0,.14), 0 1px 14px 0 rgba(0,0,0,.12);
   }
}

.shadow-very-hard { // material
   box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
   &.hover:hover {
     box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
   }
}


.pixelbuttonshadow {
  box-shadow: 1px 2px 4px 1px rgba(0,0,0,0.15);
}

.card {
  border: $card_line_width solid $card_line_color;
  border-radius: $card_radius !important;
  -webkit-transition: all 100ms ease-out;
  transition: all 100ms ease-out;
}

.cardgrey { background-color: $card_bg_grey; }


.card-header {
  background-color: $color_main; // $card_bg_grey;
  color: white; // $text_main;
  font-weight: 300;
  height: 60px;
  border-bottom: 1px solid white; // color with img
  border-top-left-radius: $card_radius - $card_line_width !important;
  border-top-right-radius: $card_radius - $card_line_width !important;
}

.card-img-top {
  // only use if no card header!!!
  // border-top-left-radius: $card_radius - $card_line_width;
  // border-top-right-radius: $card_radius - $card_line_width;
  border-radius: 0px;
}

.card-title {
  margin-bottom: 0px;
}

.card-footer {
  background-color: white; //$card_bg_grey;
  border-top: 1px solid $line_grey;
  border-bottom-left-radius: $card_radius - $card_line_width !important;
  border-bottom-right-radius: $card_radius - $card_line_width !important;
}

.icon-overlay {
  color: white;
  position: absolute !important;
  top: 10px;
  right: 14px;
  z-index: 2; //change to 0 if you want text behind overlay
}

.text-overlay {
  color: white;
  font-size: 2rem;
  font-family: $header_font;
  font-weight: 300;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1; //change to 0 if you want text behind overlay
}

.z-index-2 {
  z-index: 2;
}

.mdl-button--fab {
  background-color: white;
  border: 1px solid $line_grey_light;
}

.card-width {
  max-width: 420px;
}

.card-icons-3 > .material-icons {
  color: $text_grey;
  &:hover {
    color: $text_color;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .card-icons-3 > .material-icons {
    margin-left: -4px;
    margin-right: -4px;
  }
}

.material-icons-large {
  height: 60px;
  width: 60px;
}
.box_200_150 {
  height: 150px;
  width: 25%;
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid $line_grey;
}
