
.mdc-top-app-bar, .mdc-top-app-bar__row {
  background-color: $navbar_color;
  display: flex !important; // put the navbar in a container
  top: 0;
  -webkit-transition: all 0.2s ease, background-color 0.4s ease;
  transition: all 0.2s ease, background-color 0.4s ease;
}

// JS transition for all text in nav
.mdc-top-app-bar__navigation-icon, .mdc-top-app-bar__title, .mdc-top-app-bar__section .nav-link {
  -webkit-transition: all 0.2s ease, color 0.3s ease;
  transition: all 0.2s ease, color 0.3s ease;
}

.nav-shadow { box-shadow: 0 2px 10px 0 rgba(0,0,0,0.16); }
.mdc-top-app-bar__navigation-icon { color: $navtext_color !important; }

// nav color change with JS added classes
.nav-text-colorchange {
  color: $navtext_color_scroll !important;
  &.active {
    color: $color_main !important;
  }
}
.nav-logo-colorchange { color: $text_grey !important; }
.nav-logo-text-colorchange { color: $text_grey_light !important; }

.mdc-top-app-bar__title {
  font-family: $header_font;
  font-size: 20px;
  font-weight: 300;
  color: $navtext_color;
}

// mobile toggle menu on scroll
@media (max-width: 767px) {
  .mdc-top-app-bar, .mdc-top-app-bar__row { height: 56px;}
  .nav-shrink { background-color: $navbar_color_scroll !important; }
  .nav-up { top: -56px; }
  .mdc-top-app-bar__section .nav-item { display: none; }
  .navigation_text { display:none; }
}

// desktop resize and color change navbar on scroll
@media (min-width: 768px) {
  // change between start height 108px vs 56px (and change JS)
  .mdc-top-app-bar, .mdc-top-app-bar__row { height: 56px; }
  // hide nav icon on desktop
  .mdc-top-app-bar__navigation-icon { display: none; }
  .nav-shrink {
    background-color: $navbar_color_scroll !important;
    height: 56px;
  }
}


// drawers
.mdc-drawer__drawer {
}


// nav-links --------------------

// for topbar nav-link look at .mdc-top-app-bar__section .nav-link
.nav-link {
  font-size: 16px;
  height: 48px;
  font-weight: 400;
  text-transform: uppercase;
  color: $text_main;
  &:hover::after {
    margin-top: $nav_hover_line_distance !important;
    height: $nav_hover_line_width !important;
  }
}

.nav-link.active::after {
  position: absolute;
  background: $hover_line_color;
  content: "";
  display: block;
  height: $nav_hover_line_width !important;
  margin-top: $nav_hover_line_distance !important;
  left: 0;
  transition: all .5s cubic-bezier(.165,.84,.44,1);
  width: 100%;
  opacity: 1;
}

.mdc-top-app-bar__section .nav-link {
  display: inline;
  font-family: $navtext_font;
  font-size: $navtext_size;
  font-weight: $navtext_weight;
  height: 48px;
  color: $navtext_color;
  text-transform: $navtext_case;
  margin-left: $navtext_margin_left;
  padding: 15px !important;
  &:last-of-type {
    margin-right: 18px;
  }
  &.active {
    color: $navtext_activated_color;
  }
  // &.active::after {
  //   height: $hover_line_width;
  //   margin-top: $hover_line_distance;
  // }
}




// MOBILE NAV ---------------------------------
.mdc-drawer__header-content, .mdc-drawer--temporary .mdc-drawer__header-content {
  align-items: flex-end; // flex-start //flex-end // center
  background-color: $navbar_color;
  color: $navtext_color;
  font-family: $header_font;
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
}

.mdc-list-item .mdc-list-item__graphic {
  margin-left: -2px !important;
  margin-right: 30px !important;
}

.mdc-list-item--activated:before {
  background-color: $color_main !important;
  color: $color_main !important;
}
