.lightbackground {
  background-color: #F5F5F5;
}

.verylightbackground {
  background-color: #FAFAFA;
}

.darkbackground {
  background-color: #212121;
}

.whitetext {
  color: white !important;
}

.colortext {
  color: #4285f4 !important;
}

.material-icons {
  color: #212121;
}

/* mobile only (xs) #FAFAFA */
/* min tablets (sm)*/
/* min tablets (md)*/
/* min desktop (lg)*/
/* min large desktop (xl) */
.shadow-very-soft {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

.shadow-soft {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1) !important;
}

.shadow-hard {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.card {
  border: 1px solid #e1e1e1;
  border-radius: 3px;
  -webkit-transition: all 100ms ease-out;
  transition: all 100ms ease-out;
}

.cardgrey {
  background-color: #F5F5F5;
}

.card-header {
  background-color: #4285f4;
  color: white;
  font-weight: 300;
  height: 60px;
  border-bottom: 1px solid white;
}

.card-img-top {
  border-radius: 0px;
}

.card-footer {
  background-color: white;
  border-top: 1px solid #e1e1e1;
}

.icon-overlay {
  color: white;
  position: absolute !important;
  top: 10px;
  right: 14px;
  z-index: 2;
}

.text-overlay, .text-overlay-hover {
  color: white;
  font-size: 2rem;
  font-family: "Product Sans", "Roboto", "Arial", sans-serif;
  font-weight: 300;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
}

.z-index-2 {
  z-index: 2;
}

.mdl-button--fab {
  background-color: white;
  border: 1px solid #F4F4F6;
}

.box_200_200 {
  height: 200px;
  width: 25%;
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid #e1e1e1;
}

.hover-img-dark, .hover-shadow-soft, .hover-shadow-hard, .hover-border {
  transition: all 80ms ease-out;
  -webkit-transition: all 80ms ease-out;
}

.dark-layer, .dark-soft-layer {
  position: relative;
}

.dark-layer:after, .dark-soft-layer:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: 0.1s ease;
  -webkit-transition: 0.1s ease;
}

.dark-layer:hover:after, .dark-soft-layer:hover:after {
  opacity: 1;
}

.dark-layer:hover, .dark-soft-layer:hover {
  cursor: pointer;
}

.dark-layer:hover .text-overlay-hover, .dark-soft-layer:hover .text-overlay-hover {
  opacity: 1;
}

.text-overlay-hover {
  transition: 0.1s ease;
  opacity: 0;
}

.dark-soft-layer:after {
  background: rgba(0, 0, 0, 0.025);
}

.hover-img-dark:hover .dark-layer:after, .hover-img-dark:hover .dark-soft-layer:after {
  opacity: 1;
}

.hover-shadow-soft:hover {
  box-shadow: 0 2px 11px 0 rgba(0, 0, 0, 0.2) !important;
}

.hover-shadow-hard:hover {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12) !important;
}

.hover-border {
  border: 1px solid #e1e1e1;
}

.hover-border:hover {
  border: 1px solid #4285f4;
}

.hover-3::after, .hover-4::after, .hover-5::after {
  position: absolute;
  background: #4285f4;
  margin-top: 6px;
  height: 2px;
  content: "";
  display: block;
  opacity: 0;
}

.nav-hover-3::after, .nav-hover-4::after, .nav-hover-5::after {
  position: absolute;
  background: #4285f4;
  margin-top: 12px;
  height: 4px;
  content: "";
  display: block;
  opacity: 0;
}

.nav-link, .hover-1, .hover-4, .nav-hover-4, .hover-5, .nav-hover-5 {
  color: #202124 !important;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  position: relative !important;
}

.hover-2, .hover-3, .nav-hover-3, .hover-bg {
  color: #202124 !important;
  transition: all 0.05s ease;
  position: relative;
}

.hover-1:hover {
  color: #4285f4 !important;
}

.hover-2:hover {
  color: #4285f4 !important;
  text-decoration: underline !important;
}

.hover-bg:hover {
  background-color: #F4F4F6;
}

.hover-3::after {
  left: 0;
  transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
  width: 100%;
}

.nav-hover-3::after {
  left: 0;
  transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
  width: 100%;
}

.hover-4::after {
  left: 50%;
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  width: 0;
}

.nav-hover-4::after {
  left: 50%;
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  width: 0;
}

.hover-5::after {
  left: 0%;
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  width: 0;
  opacity: 0.5;
}

.nav-hover-5::after {
  left: 0%;
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  width: 0;
  opacity: 0.5;
}

.hover-3:hover:after, .nav-hover-3:hover:after {
  opacity: 1;
}

.hover-4:hover:after, .nav-hover-4:hover:after {
  width: 100%;
  left: 0;
  opacity: 1;
}

.hover-5:hover:after, .nav-hover-5:hover:after {
  width: 100%;
  opacity: 1;
}

.mdc-top-app-bar, .mdc-top-app-bar__row {
  background-color: white;
  display: flex !important;
  top: 0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.nav-shadow {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
}

.mdc-top-app-bar__navigation-icon {
  color: #212121 !important;
}

.nav-text-colorchange {
  color: #212121 !important;
}

.mdc-top-app-bar__title {
  font-family: "Product Sans", "Roboto", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: #212121;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

@media (max-width: 767px) {
  .mdc-top-app-bar, .mdc-top-app-bar__row {
    height: 56px;
  }
  .nav-shrink {
    background-color: white;
  }
  .nav-up {
    top: -56px;
  }
  .mdc-top-app-bar__section .nav-item {
    display: none;
  }
}

@media (min-width: 768px) {
  .mdc-top-app-bar, .mdc-top-app-bar__row {
    height: 108px;
  }
  .mdc-top-app-bar__navigation-icon {
    display: none;
  }
  .nav-shrink {
    background-color: white;
    height: 56px;
  }
}

.nav-link {
  font-size: 16px;
  height: 48px;
  font-weight: 400;
  text-transform: uppercase;
  color: #212121;
}

.nav-link:hover::after {
  margin-top: 12px !important;
  height: 4px !important;
}

.nav-link.active::after {
  position: absolute;
  background: #4285f4;
  content: "";
  display: block;
  height: 4px !important;
  margin-top: 12px !important;
  left: 0;
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  width: 100%;
  opacity: 1;
}

.mdc-top-app-bar__section .nav-link {
  display: inline;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  height: 48px;
  color: #212121;
  text-transform: uppercase;
  margin-left: 10px;
  padding: 15px !important;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.mdc-top-app-bar__section .nav-link:last-of-type {
  margin-right: 10px;
}

.left-tabs .nav-link {
  font-size: 16px;
  font-weight: 300;
  /*text-transform: uppercase;*/
  border-left: 5px solid white;
  padding: 15px 25px;
}

.left-tabs .nav-link:hover {
  border-left: 5px solid #4285f4;
}

.left-tabs .nav-link.active {
  border-left: 5px solid #4285f4;
  color: #4285f4 !important;
  font-weight: 400 !important;
}

@keyframes mykeyframe {
  0% {
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  1%, 100% {
    top: 20px;
  }
  50%, 100% {
    width: 70vw;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  100% {
    height: 50vh;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.mytrigger {
  width: 30px;
  height: 30px;
  background-color: blue;
}

.box {
  width: 200px;
  height: 100px;
  background-color: pink;
  position: absolute;
}

.box2 {
  width: 200px;
  height: 100px;
  background-color: red;
  position: static;
  top: 30px;
}

.mybox {
  animation: mykeyframe 500ms 0s forwards;
}

@keyframes mykeyframe2 {
  0% {
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  50% {
    width: 100vw;
    height: 100px;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  50%, 100% {
    left: 200px;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  100% {
    width: 100px;
    height: 500px;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.box2 {
  width: 200px !important;
  height: 100px;
  background-color: red;
  position: absolute;
}

.mybox2 {
  animation: mykeyframe 5000ms 0s forwards;
}

/* ------------------ Animations -------------------*/
/* duration:
selection controls (e.g. switch): 100ms
fading dialogs: Fade in/out: 150ms/75ms
shape change (e.g. hamburger, button icon): 200ms
detailed animations (e.g. clock ringing icon): 500ms
open/collapse medium (e.g. nav mobile;menu;chip): 250ms/200ms
open/collapse large (e.g. card;sheet open from button: 300ms/250ms
*/
/* squencing:
simple (e.g. color and position): same times
https://material.io/design/motion/choreography.html#sequencing
*/
.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  width: 100%;
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

/*text selection color*/
::selection {
  background-color: #4285f4;
  color: white;
}

::-moz-selection {
  background-color: #4285f4;
  color: white;
}

*, .mdc-button {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  color: #212121;
}

h1, h2, h3 {
  font-family: "Product Sans", "Roboto", "Arial", sans-serif !important;
  line-height: 1.2;
  font-weight: 300;
}

h4, h5, h6 {
  font-family: "Product Sans", "Roboto", "Arial", sans-serif !important;
  line-height: 1.2;
  font-weight: 400;
}

p {
  line-height: 24px;
  color: #202124;
  font-weight: 400;
  margin-bottom: 0px;
}

a {
  color: #4285f4;
  font-weight: 400;
  text-decoration: none !important;
}

.mb-h1 {
  margin-bottom: 20px;
}

.p-xs {
  font-size: 0.875rem !important;
}

.my-p > p {
  margin: 16px 0;
}

.media-body {
  margin-bottom: 12px;
}

.mb-p > p {
  margin-bottom: 30px;
}

.mb-p-l > p {
  margin-bottom: 40px;
}

.mb-p-xl > p {
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  .my-p > p {
    margin: 12px 0;
  }
  .media-body {
    margin-bottom: 6px;
  }
  .mb-p > p {
    margin-bottom: 20px;
  }
  .mb-p-l > p {
    margin-bottom: 30px;
  }
  .mb-p-xl > p {
    margin-bottom: 40px;
  }
}

/* mobile font adjustment */
@media (max-width: 575px) {
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 22px;
  }
  h3 {
    font-size: 21px;
  }
  h4 {
    font-size: 20px;
  }
  .display-3 {
    font-size: 42px;
  }
  .display-4 {
    font-size: 36px;
  }
}

/* tablet font adjustment */
@media (min-width: 576px) and (max-width: 992px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 26px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 22px;
  }
  .display-3 {
    font-size: 52px;
  }
  .display-4 {
    font-size: 46px;
  }
}

@media (min-width: 992px) {
  h1 {
    font-size: 36px;
  }
}

.bolder {
  font-weight: 400;
}

.bold {
  font-weight: 500;
}

* {
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

img, embed, object, video {
  max-width: 100%;
}

hr {
  border-color: #eee;
}

button:focus {
  outline: none !important;
}

.nopadding {
  padding: 0px !important;
}

.hoverbox:hover {
  cursor: pointer;
}

@media (min-width: 1340px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1540px) {
  .container {
    max-width: 1440px;
  }
}

@media (min-width: 1900px) {
  .container {
    max-width: 1600px;
  }
}

@media (max-width: 767px) {
  .container-fluid {
    padding: 0px 0px !important;
  }
}

[data-aos] {
  transform: translate(0, 50px);
  transition-property: transform, opacity;
  transition-delay: 0s;
}

[data-aos="fadeup-000"] {
  transition-delay: 0s;
}

[data-aos="fadeup-025"] {
  transition-delay: 0.25s;
}

[data-aos="fadeup-050"] {
  transition-delay: 0.5s;
}

[data-aos="fadeup-075"] {
  transition-delay: 0.75s;
}

[data-aos="fadeup-100"] {
  transition-delay: 1s;
}

[data-aos="fadeup-125"] {
  transition-delay: 1.25s;
}

[data-aos="fadeup-150"] {
  transition-delay: 1.5s;
}

[data-aos="fadeup-175"] {
  transition-delay: 1.75s;
}

[data-aos="fadeup-200"] {
  transition-delay: 2s;
}

[data-aos="fadeup-225"] {
  transition-delay: 2.25s;
}

[data-aos="fadeup-250"] {
  transition-delay: 2.5s;
}

[data-aos="fadeup-275"] {
  transition-delay: 2.75s;
}

[data-aos="fadeup-300"] {
  transition-delay: 3s;
}

[data-aos="fadeup-325"] {
  transition-delay: 3.25s;
}

[data-aos="fadeup-350"] {
  transition-delay: 3.5s;
}

[data-aos="fadeup-375"] {
  transition-delay: 3.75s;
}

[data-aos="fadeup-400"] {
  transition-delay: 4s;
}

.carousel-caption {
  top: 50%;
  transform: translateY(-50%);
  bottom: initial;
}

/* --------- Padding & Margins --------START */
.py-100 {
  padding: 100px 0px;
}

.p-minus-15 {
  margin-left: 15px !important;
  padding-right: 15px !important;
}

/* ----------------- HEADER START */
.bg {
  background-image: url("../images/jpg/festival_v3.jpeg");
  background-repeat: no-repeat;
  margin-top: 0px;
}

/*bg option 1*/
.bg-stretch {
  background-position: center top;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 500px;
}

/*bg option 2*/
.bg-full-height {
  background-position: center;
  background-size: cover;
  justify-content: center;
  display: flex;
  height: 100vh;
}

.covertext-align {
  height: 500px;
  /*height: 50vh*/
}

@media (min-width: 768px) {
  .bg-stretch {
    margin-top: 0px;
  }
}

@media (min-width: 992px) {
  .bg-stretch, .covertext-align {
    height: 570px;
  }
}

/*@media (min-width: 1200px) {
  .bg-stretch, .covertext-align {
    height: 650px;
  }
}*/
@media (min-width: 1600px) {
  .bg-stretch, .covertext-align {
    height: 750px;
  }
}

.text-shadow {
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.landing-1 {
  color: white;
  text-transform: uppercase;
  margin-left: -4px;
  /*text-shadow: 0 2px 4px rgba(0,0,0,0.5);*/
}

.landing-2 {
  color: white;
  font-size: 18px;
}

.landing-3 {
  line-height: 20px;
  font-size: 62px;
  line-height: 110%;
  color: white;
}

.landing-4 {
  line-height: 20px;
  font-size: 38px;
  line-height: 180%;
  color: white;
}

.landing-5 {
  font-size: 18px;
  margin-top: -174px;
}

@media (max-width: 767px) {
  .landing-1 {
    margin-left: -1px;
    font-weight: 400;
  }
  .landing-2 {
    margin-top: 0px;
    text-align: left !important;
    font-size: 16px;
    /* margin-bottom: 40px; */
  }
  .landing-2::after {
    content: ", 2018 in Dublin";
  }
  .landing-3, .landing-4 {
    display: none;
  }
  .landing-5 {
    font-size: 22px;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 40px;
  }
}

/* ----------------- HEADER -------------------- END */
/* ----------------- BLOCKS ----------------- start */
.w-150px {
  max-width: 160px;
  margin-bottom: 30px;
}

.w-200px {
  max-width: 200px;
  margin-bottom: 30px;
}

.w-250px {
  max-width: 250px;
  margin-bottom: 30px;
}

.w-300px {
  max-width: 300px;
  margin-bottom: 30px;
}

.w-350px {
  max-width: 350px;
  display: block !important;
  margin-bottom: 18px;
}

.w-400px {
  max-width: 400px;
}

.w-500px {
  max-width: 500px;
}

.w-600px {
  max-width: 600px;
}

.w-700px {
  max-width: 700px;
  margin: 20px 0;
}

.block-padding {
  padding: 0 15px;
}

/* -sm- */
@media (min-width: 576px) {
  .w-sm-250px {
    max-width: 250px;
  }
  .w-sm-450px {
    max-width: 500px;
  }
  .w-sm-500px {
    max-width: 500px;
  }
  .small-gutters {
    margin-right: 5px;
    margin-left: 5px;
  }
  .block-padding {
    padding: 0 35px;
  }
}

/* -md- */
@media (min-width: 768px) {
  .block-padding {
    padding: 0 55px;
  }
}

/* -lg- */
@media (min-width: 991px) {
  .p-mar-2 {
    margin-bottom: 46px;
  }
  .w-lg-250px {
    max-width: 250px;
  }
  .w-lg-275px {
    max-width: 275px;
  }
  .w-lg-300px {
    max-width: 300px;
  }
  .block-pr-wide {
    padding-right: 85px;
  }
  .block-pl-wide {
    padding-left: 85px;
  }
  .block-pr-narrow {
    padding-right: 125px;
    padding-left: 135px;
  }
  .block-pl-narrow {
    padding-left: 165px;
    padding-right: 95px;
  }
}

/* -xl- */
@media (min-width: 1200px) {
  .left-padding-block {
    padding-left: 120px;
  }
  .right-padding-block {
    padding-right: 120px;
  }
  .display-3 {
    font-size: 4.5rem;
  }
}

/* ----------------- Blocks ----------------- end */
/* ----------------- Buttons ----------------- start */
.btn-outline-primary, .btn-outline-primary:active, .btn-outline-primary:focus {
  border-color: #4285f4;
  color: #4285f4;
}

.btn {
  cursor: pointer !important;
  border-width: 2px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 2px;
}

.btn:focus, .btn:active {
  box-shadow: none !important;
}

.btn-xs {
  padding-top: .25rem;
  padding-bottom: .25rem;
  font-size: 0.875rem;
}

.btn-pr-1 {
  border-color: #4285f4;
  color: white;
  background-color: #4285f4;
}

.btn-pr-1:hover, .btn-pr-1:active, .btn-pr-1:focus {
  -webkit-transition: all 80ms ease-out;
  transition: all 80ms ease-out;
  border-color: #4285f4 !important;
  color: white !important;
  background-color: #4285f4 !important;
}

.btn-pr-2 {
  border-color: #4285f4;
  color: white;
  background-color: #4285f4;
}

.btn-pr-2:hover, .btn-pr-2:active, .btn-pr-2:focus {
  -webkit-transition: all 80ms ease-out;
  transition: all 80ms ease-out;
  border-color: #4285f4 !important;
  color: #4285f4 !important;
  background-color: white !important;
}

.btn-o-pr-1 {
  border-color: #e1e1e1;
  color: #888b8d;
}

.btn-o-pr-1:hover, .btn-o-pr-1:active, .btn-o-pr-1:focus {
  -webkit-transition: all 80ms ease-out;
  transition: all 80ms ease-out;
  border-color: #4285f4 !important;
  color: #4285f4 !important;
  background-color: transparent !important;
}

.btn-o-pr-2 {
  border-color: #e1e1e1;
  color: #888b8d;
}

.btn-o-pr-2:active, .btn-o-pr-2:focus {
  color: white !important;
}

.btn-0, .btn-1, .btn-2, .btn-3, .btn-4 {
  position: relative;
  border-color: #4285f4;
  color: #4285f4;
  background-color: transparent;
}

.slide-btn, .slide-btn::after {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.slide-btn::before, .slide-btn::after {
  background: #4285f4;
  content: '';
  position: absolute;
  z-index: -1;
}

.slide-btn:hover {
  color: white;
}

.btn-0::after {
  height: 0;
  left: 0;
  bottom: 0;
  width: 100%;
}

.btn-0:hover:after {
  height: 100%;
}

.btn-1::after {
  height: 0;
  left: 0;
  top: 0;
  width: 100%;
}

.btn-1:hover:after {
  height: 100%;
}

.btn-2::after {
  height: 100%;
  left: 0;
  top: 0;
  width: 0;
}

.btn-2:hover:after {
  width: 100%;
}

.btn-3::after {
  height: 0;
  left: 50%;
  top: 50%;
  width: 0;
}

.btn-3:hover:after {
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

.btn-4::before {
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

.btn-4::after {
  background: white;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

.btn-4:hover:after {
  height: 0;
  left: 50%;
  top: 50%;
  width: 0;
}

/* ----------------- Cards & Shadows & Hover */
.pixelbuttonshadow {
  box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.15);
}

/* ----------------- VARIOUS ----------------- start */
.numberCircle {
  border-radius: 50%;
  border: 2px solid #888b8d;
  /* #4285f4; */
  color: #888b8d;
  /* #4285f4; */
  width: 34px;
  height: 34px;
  font-weight: 300;
  justify-content: center;
  align-items: center;
  display: flex;
}

.blueCircle {
  border-radius: 50%;
  border: 2px solid #4285f4;
  color: #4285f4;
  /*z-index: 999;*/
  padding: 10px;
  min-width: 34px;
  min-height: 34px;
  font-weight: 300;
  justify-content: center;
  align-items: center;
  display: flex;
}

@media (min-width: 768px) {
  .circle-pic {
    margin-bottom: 24px !important;
    margin-top: 8px !important;
  }
}

.icon-very-small {
  height: 22px !important;
  /*margin-bottom: 10px !important;*/
  align-content: center;
}

.icon-small {
  height: 26px !important;
  margin-bottom: 10px !important;
  align-content: center;
}

.icon-medium {
  width: 42px;
  height: 42px;
  margin-bottom: 15px;
}

.icon-large, .icon-x-large {
  width: 62px;
  margin-bottom: 20px;
}

.icon-xl-large {
  height: 100px;
  margin-bottom: 10px;
}

@media (min-width: 576px) {
  .icon-xl-large {
    height: 120px;
    margin-bottom: 15px;
  }
  .icon-x-large {
    width: 80px;
  }
}

/* -lg- */
@media (min-width: 992px) {
  .icon-xl-large {
    height: 140px;
    margin-bottom: 20px;
  }
  .icon-x-large {
    width: 100px;
    margin-bottom: 15px;
  }
  .numberCircle {
    width: 40px;
    height: 40px;
  }
}

@media (min-width: 768px) {
  .numberCircle {
    width: 38px;
    height: 38px;
  }
}

.bd-footer {
  background-color: #f5f5f5;
  font-size: 16px;
  height: 150px;
  color: #888b8d;
  text-align: center;
  padding-top: 40px;
}

/* how it works */
.mqn-ayy {
  text-align: center;
  max-width: 720px;
}

.mqn-adr {
  color: #828286;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 30px;
}

@media (min-width: 768px) {
  .mqn-adr {
    padding: 50px 80px;
  }
}

.mqn-ads {
  outline: 0;
  border: 0;
  line-height: 0;
  border: 1px solid #828286;
  border-radius: 50%;
  margin: 0 5px;
  display: block;
  font-size: 20px;
  padding: 0;
}

.mqn-ads span {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #828286;
}

button.mqn-ads {
  background: none;
  cursor: pointer;
}

button.mqn-ads:focus {
  background: #4285f4;
  border-color: #4285f4;
}

.mqn-adu {
  background-color: #828286;
  height: 1px;
  width: 100%;
}

/* how it works end*/
/* ----------------- VARIOUS ----------------- end */
/* ----------------- Modals & Menus ----------------- end */
.modal-title {
  text-transform: uppercase;
}

.modal-button {
  color: #4285f4;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  background-color: white;
}

.modal-content {
  -webkit-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
  outline: none;
  overflow: hidden;
  border-radius: 2px;
}

/* add to class with 'modal-dialog'*/
@media (min-width: 576px) {
  .modal-sm {
    max-width: 300px;
  }
}

@media (min-width: 992px) {
  .modal-lg {
    max-width: 800px;
  }
}

@media (min-width: 1280px) {
  .modal-xl {
    max-width: 1000px;
  }
}

@media (min-width: 1440px) {
  .modal-xxl {
    max-width: 1280px;
  }
}

/* ------------------ IMAGES -------------------*/
.gradient-dark {
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0);
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.6) 75%, rgba(0, 0, 0, 0.8) 100%);
  background-image: linear-gradient(rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.6) 75%, rgba(0, 0, 0, 0.8) 100%);
}

.height-400px {
  max-height: 400px;
  overflow: hidden;
}

.height-600px {
  max-height: 600px;
  overflow: hidden;
}

@media (max-width: 575px) {
  .mobile-stretch {
    margin-left: -15px;
    margin-right: -15px;
    padding: 0 0px;
  }
}

/* ------------------ MATERIAL -------------------*/
.mat-boxshadow, .dropdown-menu {
  /*display: inline-block;*/
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

/*material table*/
@media (max-width: 576px) {
  .mdl-data-table th {
    font-size: 14px;
    padding: 0 8px 12px 8px;
  }
  .mdl-data-table {
    font-size: 13px;
  }
  .mdl-data-table td {
    padding: 0 8px 0px 8px;
  }
  .mdl-data-table td:first-of-type, .mdl-data-table th:first-of-type {
    padding-left: 20px;
    padding-top: 1px;
  }
  .mdl-data-table td:last-of-type {
    padding-left: 20px;
  }
}

@media (min-width: 576px) {
  .tbl-col-width-1 {
    width: 250px;
  }
  .mdl-data-table th {
    font-size: 16px;
    padding: 0 18px 12px 18px;
  }
  .mdl-data-table {
    font-size: 14px;
  }
  .mdl-data-table td {
    padding: 0 18px 0px 18px;
  }
}

@media (min-width: 1200px) {
  .tbl-col-width-1 {
    width: 450px;
  }
}

/*List with avatar and controls*/
.demo-list-control {
  width: 300px;
}

.demo-list-radio {
  display: inline;
}

/*Two Line List with secondary info and action*/
.demo-list-two {
  width: 300px;
}

/* ------------- BS table ----------------- */
.table-border {
  border: 1px solid #F5F5F5;
  border-radius: 2px;
}

.table-lightbackground tbody tr:nth-of-type(even), thead {
  background-color: #F4F4F4;
}

.table td {
  min-width: 216px;
  border-top: none;
}

.table th {
  min-width: 180px;
  border-bottom: none;
  border-top: none;
  padding-left: 24px;
}

.table-main-header {
  font-size: 1.5rem !important;
  font-weight: 400;
  padding: 18px 24px !important;
  border-bottom: none !important;
}

.table-sub-header {
  border-bottom: none;
  font-size: 1.25rem !important;
  font-weight: 400;
  /*color: #4285f4;*/
}

@media (max-width: 767px) {
  .table th, .table td {
    font-size: 0.875rem;
    padding-left: 12px;
  }
  .table th {
    min-width: 100px;
  }
  .table-main-header {
    padding: 14px 12px !important;
    font-size: 1.25rem !important;
  }
}
