// main sass stylesheet


// * { border: 1px solid blue !important; }
@import 'myvariables.scss';
@import 'mycards_and_frames';
@import 'myhover.scss';
@import 'mynavbar.scss';
@import 'myanimations.scss';
@import 'myswiper.scss';



/*text selection color*/
::selection {
  background-color: $text_color;
  color: white;
}
::-moz-selection {
  background-color: $text_color;
  color: white;
}

* {
    -webkit-font-smoothing: antialiased;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    font-family: $text_main;
    font-weight: $font-weight_h4-h6;
    color: $text_main;
}

img, embed, object, video { max-width: 100%; }
hr { border-color: #eee; }
button:focus { outline: none !important; }

h1, h2, h3, h4, h5, h6 {
  font-family: $header_font !important;
  line-height: $lineheight_header;
  font-weight: $font-weight_h1-h3;
}

h4, h5, h6 {  font-weight: $font-weight_h4-h6; }

p {
  line-height: $lineheight_text;
  color: $text_p;
  font-weight: $font-weight_p;
  margin-bottom: 0px;
}

a {
  color: $text_color;
  font-weight: 400;
  text-decoration: none !important;
  transition: all 0.2s cubic-bezier(0.4,0,0.2,1);
  &:hover {
    color: $color_main_darker;
  }
}



.height-400px {
  max-height: 400px;
  overflow: hidden;
}

.height-600px {
  max-height: 600px;
  overflow: hidden;
}

.mb-h1 { margin-bottom: 20px; }
.p-xs { font-size: 0.875rem !important; }
.media-body { margin-bottom: 12px;}
.my-p > p { margin: 16px 0; }
.mb-p > p { margin-bottom: 30px; }
.mb-p-l > p { margin-bottom: 40px; }
.mb-p-xl > p { margin-bottom: 50px; }
.py-100 { padding: 100px 0px; }

.p-minus-15 {
  margin-left: 15px !important;
  padding-right: 15px !important;
}


@media (max-width: 768px) {
  .my-p > p { margin: 12px 0; }

  .media-body { margin-bottom: 6px;}
  .mb-p > p { margin-bottom: 20px; }
  .mb-p-l > p { margin-bottom: 30px; }
  .mb-p-xl > p { margin-bottom: 40px; }
}

/* mobile font adjustment */
@media (max-width: 575px) {
  h1 { font-size: 24px; }
  h2 { font-size: 22px; }
  h3 { font-size: 21px; }
  h4 { font-size: 20px; }
  .display-3 { font-size: 42px; }
  .display-4 { font-size: 36px; }
}

/* tablet font adjustment */
@media (min-width: 576px) and (max-width: 992px) {
  h1 { font-size: 30px; }
  h2 { font-size: 26px; }
  h3 { font-size: 24px; }
  h4 { font-size: 22px; }
  .display-3 { font-size: 52px;}
  .display-4 { font-size: 46px; }
}

@media (min-width: 992px) {
  h1 { font-size: 36px; }
}

@media (min-width: 1360px) {.container { max-width: 1280px; }}
@media (min-width: 1540px) {.container { max-width: 1440px; }}
// @media (min-width: 1900px) {.container { max-width: 1600px; }}
@media (max-width: 767px) {.container-fluid {padding: 0px 0px !important;}}



// AOS ---------------------------------
[data-aos] {
  transform: translate(0, 50px);
  transition-property: transform, opacity;
  transition-delay: 0s;
}
// check js file for AOS.init properties
[data-aos="fadeup-000"] { transition-delay: 0s; }
[data-aos="fadeup-025"] { transition-delay: 0.25s; }
[data-aos="fadeup-050"] { transition-delay: 0.5s; }
[data-aos="fadeup-075"] { transition-delay: 0.75s; }
[data-aos="fadeup-100"] { transition-delay: 1s; }
[data-aos="fadeup-125"] { transition-delay: 1.25s; }
[data-aos="fadeup-150"] { transition-delay: 1.5s; }
[data-aos="fadeup-175"] { transition-delay: 1.75s; }
[data-aos="fadeup-200"] { transition-delay: 2s; }
[data-aos="fadeup-225"] { transition-delay: 2.25s; }
[data-aos="fadeup-250"] { transition-delay: 2.5s; }
[data-aos="fadeup-275"] { transition-delay: 2.75s; }
[data-aos="fadeup-300"] { transition-delay: 3s; }
[data-aos="fadeup-325"] { transition-delay: 3.25s; }
[data-aos="fadeup-350"] { transition-delay: 3.5s; }
[data-aos="fadeup-375"] { transition-delay: 3.75s; }
[data-aos="fadeup-400"] { transition-delay: 4s; }



// HEADER -------------------------------- START

.bg {
  // background-image: url('../images/jpg/festival_v3.jpeg');
  background-repeat: no-repeat;
  margin-top: 0px;
}

/*bg option 1*/
.bg-stretch {
  background-position: center top;
  background-size: cover;
  background-color: $color_main;
  position: relative;
  width: 100%;
  height: 500px;
}

.bg-fill { background-color: $color_main; }

/*bg option 2*/
.bg-full-height {
  background-color: $color_main;
  background-position: center;
  background-size: cover;
  justify-content: center;
  display: flex;
  height: 100vh;
}

/*bg option 3*/
.bg-half-height {
  @extend .bg-full-height;
  height: 100vh;
}

@media (min-width: 768px) {
  .bg-stretch { margin-top: 0px; }
}

@media (min-width: 992px) {
  .bg-stretch { height: 570px; }
}

@media (min-width: 1200px) {
  .bg-stretch { height: 650px; }
  .bg-half-height {
    height: 75vh;
  }
}

@media (min-width: 1600px) {
  .bg-stretch {
    height: 750px;
  }
  .bg-half-height {
    height: 50vh;
  }
}

// HEADER -------------------------------- END



// BLOCKS -------------------------------- START
.w-200px {
  max-width: 200px;
  margin-bottom: 30px;
}
.w-250px {
  max-width: 250px;
  margin-bottom: 30px;
}
.w-300px {
  max-width: 300px;
  margin-bottom: 30px;
}
.w-350px {
  max-width: 350px;
  display: block !important;
  margin-bottom: 18px;
}
.w-400px {
  max-width: 400px;
}
.w-500px {
  max-width: 500px;
}
.w-600px {
  max-width: 600px;
}
.w-700px {
  max-width: 700px;
  margin: 20px 0;
}


.block-padding { padding: 0 15px; }

/* -sm- */
@media (min-width: 576px)  {
  .w-sm-250px { max-width: 250px; }
  .w-sm-450px { max-width: 500px; }
  .w-sm-500px { max-width: 500px; }
  .small-gutters {
    margin-right: 5px;
    margin-left: 5px;
  }
  .block-padding { padding: 0 35px; }
}

/* -md- */
@media (min-width: 768px) {
  .block-padding { padding: 0 55px; }
}

/* -lg- */
@media (min-width: 991px) {
  .p-mar-2 { margin-bottom: 46px; }
  .w-lg-250px { max-width: 250px; }
  .w-lg-275px { max-width: 275px; }
  .w-lg-300px { max-width: 300px; }
  .block-pr-wide { padding-right: 85px; }
  .block-pl-wide { padding-left: 85px; }
  .block-pr-narrow {
    padding-right: 125px;
    padding-left: 135px;
  }
  .block-pl-narrow {
    padding-left: 165px;
    padding-right: 95px;
  }
}


/* -xl- */
@media (min-width: 1200px) {
  .left-padding-block { padding-left: 120px; }
  .right-padding-block { padding-right: 120px; }
  .display-3 { font-size: 4.5rem; }
}
// BLOCKS -------------------------------- END



// BUTTONS -------------------------------- START
.mdc-button {
  font-family: $text_main;
  font-weight: 400;
  color: $text_main;
  text-transform: none;
  font-size: 1rem;
  letter-spacing: normal;
  height: 42px;
}

.mdc-button--outlined {
  border-color: $color_main !important;
  color: $color_main !important;
}

.mdc-button--raised {
  background-color: $color_main !important;
}

.mdc-button--transparent:hover,
.mdc-button--outlined:hover {
  background-color: $hover_grey !important;
}

.mdc-button--transparent:after,
.mdc-button--transparent:before,
.mdc-button--outlined:after,
.mdc-button--outlined:before {
  background-color: $color_main_darker;
}

.btn-outline-primary, .btn-outline-primary:active, .btn-outline-primary:focus {
  border-color: $color_main;
  color: $color_main;
}

.btn {
  cursor: pointer !important;
  border-width: $button_line_width;
  padding-left: $button_padding_left;
  padding-right: $button_padding_right;
  border-radius: $button_radius;
  // box-shadow: $button_shadow;
}

.btn:focus, .btn:active {
  box-shadow: none !important;
}

.btn-round {
  background-color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-weight: 300;
  justify-content: center;
  align-items: center;
  display: flex;
}

.btn-xs {
    padding-top: .25rem;
    padding-bottom: .25rem;
    font-size: 0.875rem;
}

.btn-pr-0  {
    -webkit-transition: all 80ms ease-out;
    transition: all 80ms ease-out;
    background-color: $color_main !important;
    border-color: $color_main !important;
    &:hover {
      background-color: $color_main_darker !important;
      border-color: $color_main_darker !important;
    }
}

.btn-pr-1 {
  border-color: $color_main;
  color: white;
  background-color: $color_main;
}
.btn-pr-1:hover, .btn-pr-1:active, .btn-pr-1:focus {
  -webkit-transition: all 80ms ease-out;
  transition: all 80ms ease-out;
  border-color: $color_main !important;
  color: white !important;
  background-color: $color_main !important;
}

.btn-pr-2 {
  border-color: $color_main;
  color: white;
  background-color: $color_main;
}
.btn-pr-2:hover, .btn-pr-2:active, .btn-pr-2:focus {
  -webkit-transition: all 80ms ease-out;
  transition: all 80ms ease-out;
  border-color: $color_main !important;
  color: $color_main !important;
  background-color: white !important;
}

.btn-o-pr-1 {
  border-color: $line_grey;
  color: $line_grey_dark;
}

.btn-o-pr-1:hover, .btn-o-pr-1:active, .btn-o-pr-1:focus {
  -webkit-transition: all 80ms ease-out;
  transition: all 80ms ease-out;
  border-color: $color_main !important;
  color: $color_main !important;
  background-color: transparent !important;
}

.btn-o-pr-2 {
  border-color: $line_grey;
  color: $line_grey_dark;
  &:hover {
    background-color: $color_main !important;
    border-color: $color_main !important;
    color: white !important;
  }
  &:active {
    color: white;
  }
}

.btn-o-pr-0 {
  @extend .btn-o-pr-2;
  border-color: $color_main !important;
  color: $color_main !important;
}

.btn-0, .btn-1, .btn-2, .btn-3, .btn-4 {
  position: relative;
  border-color: $color_main;
  color: $color_main;
  background-color: transparent;
}


.slide-btn, .slide-btn::after {
  -webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
  -o-transition: all 0.2s;
	transition: all 0.2s;
}

.slide-btn::before, .slide-btn::after {
  background: $text_color;
  content: '';
  position: absolute;
  z-index: -1;
}

.slide-btn:hover {
  color: white;
}


.btn-0::after {
  height: 0;
  left: 0;
  bottom: 0;
  width: 100%;
 }

.btn-0:hover:after {
  height: 100%;
}


.btn-1::after {
  height: 0;
  left: 0;
  top: 0;
  width: 100%;
}

.btn-1:hover:after {
  height: 100%;
}


.btn-2::after {
  height: 100%;
  left: 0;
  top: 0;
  width: 0;
}

.btn-2:hover:after {
  width: 100%;
}


.btn-3::after {
  height: 0;
  left: 50%;
  top: 50%;
  width: 0;
}

.btn-3:hover:after {
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}


.btn-4::before {
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

.btn-4::after {
  background: white;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

.btn-4:hover:after {
  height: 0;
  left: 50%;
  top: 50%;
  width: 0;
}
// BUTTONS -------------------------------- END


// CIRCLES & ICONS ------------------------- START
.numberCircle {
    border-radius: 50%;
    border: 2px solid $line_grey_dark; /* $text_color; */
    color: $line_grey_dark; /* $text_color; */
    width: 34px;
    height: 34px;
    font-weight: 300;
    justify-content: center;
    align-items: center;
    display: flex;
}

@media (min-width: 768px) {
  .circle-pic {
    margin-bottom: 24px !important;
    margin-top: 8px !important;
  }
}

.icon-very-small {
  height: 22px !important;
  /*margin-bottom: 10px !important;*/
  align-content: center;
}

.icon-small {
  height: 26px !important;
  margin-bottom: 10px !important;
  align-content: center;
}

.icon-medium {
  width: 42px;
  height: 42px;
  margin-bottom: 15px;
}

.icon-large, .icon-x-large {
  width: 62px;
  margin-bottom: 20px;
}

.icon-xl-large {
  height: 100px;
  margin-bottom: 10px;
}


@media (min-width: 576px)  {
  .icon-xl-large {
    height: 120px;
    margin-bottom: 15px;
  }
  .icon-x-large {
    width: 80px;
  }
}

@media (min-width: 992px) {
  .icon-xl-large {
    height: 140px;
    margin-bottom: 20px;
  }
  .icon-x-large {
    width: 100px;
    margin-bottom: 15px;
  }
  .numberCircle {
      width: 40px;
      height: 40px;
  }
}

@media (min-width: 768px) {
  .numberCircle {
      width: 38px;
      height: 38px;
  }
}

.bd-footer {
  background-color: #f5f5f5;
  font-size: 16px;
  height: 150px;
  color:$line_grey_dark;
  text-align: center;
  padding-top: 40px;
}

.footer {
  margin-top: 20px;
  padding: 40px 0px;
  & img {
    margin-top: 8px;
    margin-bottom: 8px;
  }
  & a {
    color: white !important;
    margin: 4px 8px;
    padding: 4px;
    &:last-of-type {
      margin-right: 0px;
    }
    &:hover {
      @extend .hover-opacity;
    }
  }
}

// CIRCLES & ICONS ------------------------- END


// MODALS & MENUS ------------------------- START

// .modal-title { text-transform: uppercase; }

.modal-button {
    color: $text_main;
    text-transform: uppercase;
    cursor: pointer;
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
    background-color: white;
}

.modal-header {
  border-bottom: none;
}

.modal-content  {
  -webkit-box-shadow: 0 12px 15px 0 rgba(0,0,0,0.24);
  box-shadow: 0 12px 15px 0 rgba(0,0,0,0.24);
  outline: none;
  overflow: hidden;
  border-radius: 2px;
  &.mdc-icon-button:hover {
    color: $text_color;
  }
}

.mdc-button--transparent:hover {
  .material-icons, .material-icons + p {
    color: $text_color !important;
  }
}


.modal-picture {
  padding: 0px !important;
  border: 2px solid white !important;
}



/* add to class with 'modal-dialog'*/
@media (min-width: 576px) {
  .modal-sm { max-width: 300px; }}

@media (min-width: 992px) {
  .modal-lg { max-width: 800px; }}

@media (min-width: 1200px) {
  .modal-xl { max-width: 1000px; }}

@media (min-width: 1360px) {
  .modal-xxl { max-width: 1280px; }}

@media (min-width: 1540px) {
  .modal-xxl { max-width: 1480px; }}

.gradient-dark {
  height: 100%;
  top: 0;
  background-color: rgba(0,0,0,0);
  background-image: -webkit-linear-gradient(rgba(0,0,0,0.4) 0%,rgba(0,0,0,.6) 75%,rgba(0,0,0,.8) 100%);
  background-image: linear-gradient(rgba(0,0,0,0.4) 0%,rgba(0,0,0,.6) 75%,rgba(0,0,0,.8) 100%);
}


@media (max-width: 575px) {
  .mobile-stretch {
    margin-left: -15px;
    margin-right: -15px;
    padding: 0 0px;
  }
}


// MATERIAL ------------------------- START

.mat-boxshadow, .dropdown-menu {
  /*display: inline-block;*/
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
              0 1px 5px 0 rgba(0, 0, 0, 0.12),
              0 3px 1px -2px rgba(0, 0, 0, 0.2)
}

.mdl-snackbar {
  bottom: 10px;
  background-color: $color_tooltip;
}

/*material table*/
@media (max-width: 576px) {
  .mdl-data-table th {
      font-size: 14px;
      padding: 0 8px 12px 8px;
  }
  .mdl-data-table {  font-size: 13px; }
  .mdl-data-table td {  padding: 0 8px 0px 8px;}
  .mdl-data-table td:first-of-type, .mdl-data-table th:first-of-type {
      padding-left: 20px;
      padding-top: 1px;
  }
  .mdl-data-table td:last-of-type { padding-left: 20px;}
}

@media (min-width: 576px) {
  .tbl-col-width-1 { width: 250px; }
  .mdl-data-table th {
      font-size: 16px;
      padding: 0 18px 12px 18px;
  }
  .mdl-data-table { font-size: 14px;  }
  .mdl-data-table td { padding: 0 18px 0px 18px; }
}

@media (min-width: 1200px) {
  .tbl-col-width-1 { width: 450px; }
}

/*List with avatar and controls*/
.demo-list-control, .demo-list-two { width: 300px; }
.demo-list-radio { display: inline; }



// BS TABLE ------------------------- START

.table-border {
  border: 1px solid #F5F5F5;
  border-radius: 2px;
}

.table-lightbackground tbody tr:nth-of-type(even), thead {
  background-color: $background_grey;
}

.table td {
  min-width: 216px;
  border-top: none;
}

.table th {
  min-width: 180px;
  border-bottom: none;
  border-top: none;
  padding-left: 24px;
}

.table-main-header {
  font-size: 1.5rem !important;
  font-weight: 400;
  padding: 18px 24px !important;
  border-bottom: none !important;
}

.table-sub-header {
  border-bottom: none;
  font-size: 1.25rem !important;
  font-weight: 400;
  /*color: $text_color;*/
}

@media (max-width: 767px) {
  .table th, .table td {
    font-size: 0.875rem;
    padding-left: 12px;
  }
  .table th {
    min-width: 100px;
  }
  .table-main-header {
    padding: 14px 12px !important;
    font-size: 1.25rem !important;
  }
}



// snackbar
/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: $color_tooltip;
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 4; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 10px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar.
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 10px; opacity: 1;}
}



@keyframes fadeout {
    from {bottom: 10px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
